# ===============================
# Frontend Environment Variables
# ===============================

# Local Development
# VITE_API_URL=http://localhost:5000

# Production Backend
VITE_API_URL=https://mern-todo-app-backend-8m4i.onrender.com